#graph-container {
    /*width: 800px;*/
    /*height: 600px;*/
    border: 1px solid #ccc;
}

#controls {
    margin-top: 10px;
}

#controls label {
    margin-right: 10px;
}

rect.raimi {
    fill: #0f0;
}

rect._688 {
    fill: #127012
;
}

rect.sony {
    fill: #054b05;
}

rect.webb {
    fill: #00f;
}

rect.netflix {
    fill: #f00;
}

rect.mcu {
    fill: #ccc;
}

rect.whatif {
    fill: #94f;
}

rect.fox {
    fill: #cc0;
}

rect.abc {
    fill: #08f;
}

rect.hulu {
    fill: #7f7;
}

rect._838 {
    fill: #c0c;
}

rect.classic {
    fill: #00ccbb;
}